<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_order.css') }}">
    <title>About</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a class="active" href="/">Main Screen</a></li>
            <li><a href="/trackandtrace">Add Track and Trace Order</a></li>
            <li><a href="/add_order">Add Order</a></li>
            <li><a href="/update_order">Update Order</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </nav>
    <div class="content">
        <p>
            Packagement is an online website database where you can not only add your own orders but also add track and trace barcodes aswell.
        </p>
        <p>
            Important note! For now the database can only delete orders.
            Please use the update order page for this.
            The page will get an update soon. No pun intended.
        </p>
    </div>
</body>
</html>